# Ignore .swp files from vim and DS_Store from Mac
*.swp
*.DS_Store

# Ignore uploaded files to stage folder, keeping only .gitkeep and resized to force dir tracking on git
!stage/

stage/*
!stage/.gitkeep

stage/resized/*
!stage/resized/
!stage/resized/.gitkeep 
